h1, h2, h3, h4, h5, h6 {
	font-family: "Maven Pro", sans-serif;
}	
body {
    font-family: 'Maven Pro', sans-serif;
    color: #ffffff;
    padding-top: 54px;
    background-image: url("../img/homepage.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
@media (min-width: 992px) {
    body {
    	padding-top: 56px;
    }
}
.logo-main {
    width: 40%;
    height: 40%;
}
.homepage {
	padding-top: 0%;
	padding-bottom: 0%;
}
.motto {
    font-size: 150%;
	padding-top: 5%;
	padding-bottom: 15%
}
.menu {
    background-color: #000000;
}